.image {
  display: block;
  width: 100%;
  height: auto;
}

.blockList {
  display: flex;
  margin-top: 88px;
}

.blockContainer {
  cursor: pointer;
  position: relative;
  flex: 1;
}

.blockText {
  top: 70px;
  left: 50px;
  position: absolute;
  color: #ffffff;

  font-weight: 900;
  line-height: 103.615%;
}

.blockTextLeft {
  font-size: 96px;
}

.blockTextLeftBottom {
  position: absolute;
  color: #ffffff;
  left: 50px;
  bottom: 50px;
  border: 1px solid white;
  padding: 16px;
  border-radius: 67px;
  font-size: 27px;
  font-weight: 800;
}

.blockTextRight {
  font-size: 70px;
  line-height: normal;
}

@media (max-width: 1550px) {
  .blockTextLeft {
    font-size: 70px;
  }

  .blockTextLeftBottom {
    font-size: 20px;
  }

  .blockTextRight {
    font-size: 50px;
  }
}

@media (max-width: 1250px) {
  .blockTextLeft {
    font-size: 60px;
  }

  .blockTextLeftBottom {
    font-size: 16px;
  }

  .blockTextRight {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .blockText {
    top: 30px;
    left: 20px;
  }

  .blockTextLeftBottom {
    bottom: 30px;
    left: 20px;
    font-size: 10px;
    padding: 8px 12px;
  }

  .blockTextLeft {
    font-size: 36px;
  }

  .blockTextRight {
    font-size: 26px;
  }

  .blockList {
    margin-top: 48px;
    flex-direction: column;
  }
}
