.image {
  display: block;
  max-width: 100%;
  object-fit: contain;
  box-sizing: border-box;
}

.brandList {
  display: flex;
  transform: translate(0, -50%);
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: -8vw;
}

.brandContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;

  background-color: #ffffff;

  flex: 1;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

@media (max-width: 1550px) {
  .image {
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .brandContainer:nth-last-child(-n + 3) {
    display: none;
  }
}
